Overall page container
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #292949; /* Dark background */
  color: #ffffff;
  font-family: Arial, sans-serif;
}

/* Login box styling */
.login-box {
  background-color: #151435; /* Darker container */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 500px;
  width: 400px;
}

/* Login header (logo and welcome message) */
.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-logo {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.login-header h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight:bold;
}

/* Input field styling */
.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #0B666C;
  border-radius: 5px;
  background-color: #1a1a2e; 
  color: #ffffff;
  outline: none;
}

.input-field::placeholder {
  color: #aaa; 
}
hr {
  margin: 2em 0;
  border: none; 
  border-top: 2px solid #0B666C; 
}

/* Login button styling */
.login-button {
  width: 100%;
  padding: 10px;
  background-color: #0B666C; 
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight:bold;

  cursor: pointer;
}

.login-button:hover {
  background-color: #2563eb;
}

/* Create Account Link */
.create-account {
  margin-top: 20px;
}

.create-account a {
  color: #ffffff;
  text-decoration: none;
}

.create-account a:hover {
  text-decoration: underline;
}
