
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #292949; 
  font-family: Arial, sans-serif;
}

/* Sign-up box styling */
.signup-box {
  background-color: #151435; 
  /* border: 1px solid #aaaaaa60; */
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 550px;
  width: 400px;
}


/* Sign-up header (logo and heading) */
.signup-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}


.signup-logo {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}


.signup-header h2 {
  color: #ffffff;
  margin: 0;
  font-size: 1.5em;
  font-weight:bold;
}

/* Input field styling */
.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 1em;
  border: 1px solid #0B666C;
  border-radius: 5px;
  background-color: #151435; 
  color: #ffffff;
  outline: none;
}

.input-field::placeholder {
  color: #aaa; 
}
hr {
  margin: 2em 0;
  border: none; 
  border-top: 2px solid #0B666C; 
}


/* Sign-up button styling */
.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #0B666C; 
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #129da7; 
}

/* Already have an account link */
.already-have-account {
  margin-top: 20px;
}

.already-have-account a {
  color: #ffffff;
  text-decoration: none;
}

.already-have-account a:hover {
  text-decoration: underline;
}
